# CS 635 Final Project Option 1
### by: Surfield Thomas Jr

We will start with the libray imports below:

In [45]:
import pandas as pd 
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

Next we will create a function to read the divorce.csv data file

In [2]:
def read_csv_data(filename):
    return pd.read_csv('divorce.csv', delimiter=';')

Next we will create a function to shuffle and split the data into a train and test set for cross validation

In [16]:
def shuffle_split_data(df):
    df = df.sample(frac=1)
    df_train, df_test = train_test_split(df, test_size=0.2)
    return df_train, df_test

Below we run the shuffle_split_data function to shuffle and split the pandas dataframe into test and train datasets. Then we check the data to ensure it was split and shuffled correctly with 20% of the data being moved into the blind test set. We use the head function of the dataframe object to return a subset of the data for investgation.

In [11]:
df_train, df_test = shuffle_split_data(read_csv_data('divorce.csv'))

In [20]:
df_train.head()

,Atr1,Atr2,Atr3,Atr4,Atr5,Atr6,Atr7,Atr8,Atr9,Atr10,...,Atr46,Atr47,Atr48,Atr49,Atr50,Atr51,Atr52,Atr53,Atr54,Class
63,3,2,3,2,3,2,1,2,3,2,...,4,4,4,4,4,4,4,4,4,1
149,0,1,0,0,0,0,0,0,0,0,...,4,4,4,4,2,2,0,0,0,0
102,0,0,0,0,0,0,0,0,0,0,...,1,1,2,0,0,1,4,1,2,0
26,3,3,4,3,3,1,1,3,4,3,...,4,4,4,4,4,4,4,4,4,1
90,0,1,0,0,0,0,0,1,0,0,...,3,0,1,0,0,0,2,0,0,0

In [21]:
df_test.head()

,Atr1,Atr2,Atr3,Atr4,Atr5,Atr6,Atr7,Atr8,Atr9,Atr10,...,Atr46,Atr47,Atr48,Atr49,Atr50,Atr51,Atr52,Atr53,Atr54,Class
125,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,2,1,0,2,0
5,0,0,1,0,0,2,0,0,0,1,...,2,2,1,2,1,1,1,2,0,1
40,3,2,3,4,3,2,1,2,3,4,...,4,4,4,4,4,4,4,4,4,1
92,1,1,0,0,0,0,0,0,0,1,...,1,0,0,1,1,1,1,1,1,0
57,3,4,3,4,3,0,1,4,3,4,...,3,3,3,3,3,3,3,3,3,1

The Random Forest model is used below, we fit the model with the train features and labels using iloc to grab the approiate columns. Then we run the trained model on the test featutes and labels using the score method which returns the accuracy of the model

In [49]:
rf_clf = RandomForestClassifier(n_estimators=10).fit(df_train.iloc[:,0:54], df_train.iloc[:,-1])
rf_clf.score(df_test.iloc[:,0:54], df_test.iloc[:,-1])

0.9705882352941176

The Decision Tree model is used below, we fit the model with the train features and labels using iloc to grab the approiate columns. Then we run the trained model on the test featutes and labels using the score method which returns the accuracy of the model

In [53]:
df_clf = DecisionTreeClassifier().fit(df_train.iloc[:,0:54], df_train.iloc[:,-1])
df_clf.score(df_test.iloc[:,0:54], df_test.iloc[:,-1])

0.9411764705882353